<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Songs</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<div class="jumbotron">
  <h1>  My Most Excellent Tunage </h1>

</div>
{% block content %}


<!--TABLE FOR INFO-->
<table class="table">
    <tr>
        <th>Band</th>
        <th>Song</th>
    </tr>
    <!--LOOP ITERATES THROUGH ARRAY-->
    {% for song in song_list %}
    <tr>
        <td>{{song.song_band}}</td>
        <td>
            <a href="{% url 'song_details' song.song_id %}">{{song.song_title}}</a>
        </td>
    </tr>
    {% endfor %}
</table>





{% endblock content %}


</body>
</html>